body{
    font-family: "맑은 고딕", "고딕", "굴림", "TRUEC HAN", "Unic";
    background-color: #885f54;
}

header{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    background-color: #885f54;
    padding: 10px;
    overflow: hidden;
    table-layout: #ffffff;
}

header h1{
    width: 40%;
    float: left;
    color: #ffffff;
}

header nav{
    width: 60%;
    float: right;
}

nav ul{
    list-style-type: none;
}

nav ul li{
    display: inline;
    float: left;
    margin: 15px;
}

nav ul li a{
    color: white;
    text-decoration: none;
}

p{
    font-size: 15px;
    line-height: 20px;
    text-align: center;
    position: center;
}

section{
    width: 50%;
    margin-right: auto;
    margin-left: auto;
    border: 3px solid #ffffff;
    padding: 2px;
    position: center;
}

footer{
    width: 80%;
    margin-right: auto;
    margin-left: auto;
    margin-top: 0;
    padding: 10px;
    color: white;
    text-align: center;
}

ul{
    list-style-type: disc;
}

@font-face{
    font-family: LAB도레미 ;
    src:url('LAB도레미.ttf');
    font-weight: normal;
}
@font-face{
    font-family: TRUEC HAN;
    src:url('TRUEC HAN.ttf');
    font-weight: bold;
}
@font-face{
    font-family: Unic ;
    src:url('Unic.ttf');
    font-weight: bolder;
}

header{
    font-family: 맑은 고딕 ;
}

body{
    font-family: TRUEC HAN ;
}

.medium{
    font-size: medium;
    font-family: 맑은 고딕 ;
    text-align: center;
    word-spacing: 0.6em;
}

.small{
    font-size: medium;
    font-style: italic;
    text-align: right;
    text-decoration: overline;
}

.large{
    font-family: Unic ;
    font-size: medium;
    text-align: center;
    text-decoration: line-through;
    letter-spacing: 0.3em;
    line-height: 100%;
}

.xx-large{
    font-family: TRUEC HAN;
    font-size: large;
    text-align: center;
   line-height: 100%;
}

.x-large{
    font-size: xx-large;
    font-family:serif;
    color: antiquewhite;
}
h1{
    font-variant: small-caps;
}


table{
    width: 400px;
    border: 1px solid black;
}
td{
    border: 1px solid black;
    padding: 10px;
}

<style>
<div class="content">

.inframe{
    text-align: center
}

#logo{
    margin-right: auto;
    margin-left: auto;
        width: 300px;
    height: 300px;
}





